###### Requirements without Version Specifiers ######
numpy
sounddevice

###### A particular file ######
./riva_api-2.1.0-py3-none-any.whl
git+https://github.com/latonaio/rabbitmq-python-client.git@main#egg=rabbitmq_client
